openapi: 3.0.3
info:
  title: Airports
  description: This is a sample Airports API based on the OpenAPI 3.0 specification.  You can find out more about
  termsOfService: http://swagger.io/terms/
  contact:
    email: apiteam@swagger.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.11
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
  - url: https://apigee-gke-example3-sandbox.hybrid-apigee.net/airports-cicd/v1
  - url: https://apigee-gke-example3.hybrid-apigee.net/airports-cicd/v1
tags:
  - name: airports
    description: Get All about your Airports
paths:
  /airports:
    get:
      tags:
        - airport
      summary: Get All Airports
      description: Multiple status values can be provided with comma separated strings
      operationId: getAllAirports
      parameters:
        - name: country
          in: query
          description: Filter By Query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: Limits the number of response
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Airport'          
            application/xml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Airport'
      security:
        - api_key: []
  /airports/{airportId}:
    get:
      tags:
        - airport
      summary: Get Airport By ID
      description: Returns a single Airpott
      operationId: getAirportById
      parameters:
        - name: airportId
          in: path
          description: ID of airport to return
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Airport'          
            application/xml:
              schema:
                $ref: '#/components/schemas/Airport'
        '400':
          description: Invalid ID supplied
        '404':
          description: Airport not found
      security:
        - api_key: []
components:
  schemas:
    Airport:
      required:
        - rank
        - airport
        - location
        - country
        - iata
        - icoa
      type: object
      properties:
        rank:
          type: integer
          format: int64
          example: 1
        airport:
          type: string
          example: United States Hartsfield–Jackson Atlanta International Airport
        location:
          type: string
          example: Atlanta, Georgia
        country:
          type: string
          example: United States
        iata:
          type: string
          example: ATL
        icoa:
          type: string
          example: KATL
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
      xml:
        name: '##default'
  securitySchemes:
    api_key:
      type: apiKey
      name: apikey
      in: query
